RewriteEngine On

# Redirigir solo si NO es un archivo estático
AddType application/javascript .js

# PRIMERO - Intentar servir archivos estáticos reales
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]

# SEGUNDO - Intentar servir directorios reales
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . - [L]

# TERCERO - Redirigir TODO lo demás al index.html
RewriteRule ^ index.html [L,QSA]