.gradient-border-bottom {
    position: relative;
    padding-bottom: 10px; /* Espacio para el borde */
  }
  
  .gradient-border-bottom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px; /* Grosor del borde */
    background: linear-gradient(90deg, rgba(53,127,217,1) 0%, rgba(220,49,50,1) 100%);
  }